* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

i {
    cursor: pointer;
}

.container {
    margin: 0 auto;
    width: 60%;
}

.list-title {
    text-align: center;
}

.job-row {
    border: 1px solid gray;
    margin: 15px 0;
    padding: 10px;
}


.application-notification {
    position: fixed;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: 1px solid gray;
    padding: 2;
    background-color: black;
    color: white;
    padding: 2px 8px;
    font-size: 11px;
    text-align: center;
}