<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJs Search Jobs Platform</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <div id="app">

        <header>
            <h1>Booled <i class="fab fa-linkedin"></i></h1>
        </header>

        <div class="container">

            <!-- FIRST LIST (ALL JOBS) -->
            <div class="all-jobs">
                <div class="list-title">
                    <h1><i class="fas fa-globe-americas"></i> All Jobs</h1>
                </div>
                <div v-for="job in jobs" class="job-row">
                    <div class="job-title">
                        <h3>
                            <img :src="job.logo" class="job-logo" alt="logo">
                            {{job.position}}
                            <span v-if="starred.includes(job.id)" @click="setFavorites(job.id)">
                                <i class="fas fa-star on"></i>
                            </span>
                            <span v-else @click="setFavorites(job.id)">
                                <i class="far fa-star off"></i>
                            </span>
                        </h3>
                        <h5>{{job.company}}</h5>
                        <h5>{{job.city}} / {{job.contract}}</h5>
                    </div>
                    <div class="job-description">
                        <p>{{job.description}}</p>
                    </div>
                    <div class="apply-button">
                        <div v-if="applied.includes(job.id)" @click="sendApplication(job.id)">
                            <i class="fas fa-share-square send">Applied</i>
                        </div>
                        <div v-else @click="sendApplication(job.id)">
                            <i class="far fa-share-square no-send">Apply</i>
                        </div>
                    </div>
                </div>

                <div class="application-notification" v-if="notification === 'on'">
                    <h1>Application successfully sent</h1>
                    <h2><i class="fas fa-thumbs-up"></i></h2>
                </div>
            </div>


            <!-- STARRED LIST -->
            <div class="favorites">
                <div class="list-title">
                    <h1><i class="far fa-bookmark"></i> Favorites</h1>
                </div>
                <div v-for="job in jobs" v-if="starred.includes(job.id)" class="job-row">
                    <div class="job-title">
                        
                        <h3>
                            <img :src="job.logo" class="job-logo" alt="logo">
                            {{job.position}}
                            <span v-if="starred.includes(job.id)" @click="setFavorites(job.id)">
                                <i class="fas fa-star on"></i>
                            </span>
                            <span v-else @click="setFavorites(job.id)">
                                <i class="far fa-star off"></i>
                            </span>
                        </h3>
                        <h5>{{job.company}}</h5>
                        <h5>{{job.city}} / {{job.contract}}</h5>
                    </div>
                    <div class="job-description">
                        <p>{{job.description}}</p>
                    </div>
                    <div class="apply-button">
                        <div v-if="applied.includes(job.id)" @click="sendApplication(job.id)">
                            <i class="fas fa-share-square send">Applied</i>
                        </div>
                        <div v-else @click="sendApplication(job.id)">
                            <i class="far fa-share-square no-send">Apply</i>
                        </div>
                    </div>
                </div>
    
            </div>


            <!-- APPLIED LIST -->
            <div class="applied">
                <div class="list-title">
                    <h1><i class="far fa-hand-point-down"></i> Applied</h1>
                </div>
                <div v-for="job in jobs" v-if="applied.includes(job.id)" class="job-row">
                    <div class="job-title">
                        <h3>
                            <img :src="job.logo" class="job-logo" alt="logo">
                            {{job.position}}
                            <span v-if="starred.includes(job.id)" @click="setFavorites(job.id)">
                                <i class="fas fa-star on"></i>
                            </span>
                            <span v-else @click="setFavorites(job.id)">
                                <i class="far fa-star off"></i>
                            </span>
                        </h3>
                        <h5>{{job.company}}</h5>
                        <h5>{{job.city}} / {{job.contract}}</h5>
                    </div>
                    <div class="job-description">
                        <p>{{job.description}}</p>
                    </div>
                    <div class="apply-button">
                        <div v-if="applied.includes(job.id)" @click="sendApplication(job.id)">
                            <i class="fas fa-share-square send">Applied</i>
                        </div>
                        <div v-else @click="sendApplication(job.id)">
                            <i class="far fa-share-square no-send">Apply</i>
                        </div>
                    </div>
                </div>
            </div> 
            
        </div>

    </div>
    <script src="js/script.js"></script>
</body>

</html>